*{
   box-sizing: border-box;
  }

.video{
  text-align: center;
  font-size: 50px;
  background-color: blue;
  margin: 100px auto;
  width: 100px;
  height: 200px;
  padding-top: 50px;
  padding-bottom: 40px;
  padding-right: 130px;
  padding-left: 100px;
}



 


 